body{
	background-color:pink;
	text-color:gold;
}
h1{
	background-color:pink;
	text-align:centre;
	width:95%;
	border-style:dashed;
	animation-name:animation;
	aniation-duration:3s;
	-moz-animation-duration:2s;
	-webkit-animation-duration:2s;
	-moz-animation-name:slidein;
	-webkit-animation-name:slidein;
}@-moz-keyframes
slidein{
	from {
	margin-left:100%;
	width:300%;
	}
	to{
	margin-right:100%;
	width:300%;
}
}
@-webkit-keyframes
slidein{
	from {
	margin-left:100%;
	width:300%;
}
to{
	margin-left:0%;
	width:100%;
}
}
hr{
	width:95%;
	align:center;
	color:blue;
}
#div1{
	width:150;
	height:500;
	background-color:blue;
	margin-left:25;
	border-style:ridge;
	float:bottom;
	align:left;
}
#div3{
	width:1000;
	height:30;
	background-color:blue;
	margin-left:25;
	margin-right:26;
	float:bottom;
}
#div4{
	align:left;
	border-style:ridge;
	width:78.9%;
	height:500;
	float:right;
	margin-right:25px;
}
#nav{
	margin-left:25px;
	border-style:ridge;
	width:95%;
	background-color:lightviolet;
	float:top;
	margin-bottom:5px;
}
#y{
	border-color:greenblue;
	background-color:lightblue;
	color:black;
	width:100%;
}
#t{
	background-color:orange;
	border-type:ridge;
	width:auto;
	border-color:black;
}
#m{
	background-color:blue;
	border-type:ridge;
	width:auto;
	border-color:black;
}
#t:hover {
	background-color:yellow;
}
#y:hover {
	background-color:violet;
	border-color:violet;
}